<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="SnapLogic provides application integration software that is transforming the cloud integration market. It's DataFlow platform connects to almost any SaaS, Cloud, Web, or enterprise application or data source via Snap connectors and data pipelines, providing information as a utility to business users and applications" />
<meta name="keywords" content="application integration software, data management systems, cloud connect, SnapLogic, cloud integration, middleware, snap connectors" />
<title>SnapLogic is the cloud connection company, intuitively snapping together any business application or Web service. 
SnapLogic<92>s modern connection architecture delivers fast, smart data by integrating sources in the cloud and on the ground. 
SnapLogic was built on proven consumer Web standards that bring cloud speed, scale and ease to businesses.</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Email Body -->
<table id="welcome" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="104" width="100%"><a href="http://www.snaplogic.com"><img src="http://www.snaplogic.com/images/email/snaplogic-logo.png" width="264" height="104" hspace="45" border="0" alt="Go to SnapLogic Homepage"></a></td>
  </tr>
  <tr height="79">
    <td height="79" width="100%" valign="bottom" bgcolor="#73b564"><img src="http://www.snaplogic.com/images/email/snaplogic-banner4.png" alt="SnapLogic Banner" width="539" height="79" align="absbottom"></td>
  </tr>
  <tr>
    <td height="374" width="0" align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="24">
        <tr>
          <td width="5%">&nbsp;</td>
          <td width="95%"><p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px;">Hi <%= @trial.customername.split(' ').first %>, </p>
            <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px;">Welcome, we know you are eager to get started but before you do, you may want to check out&nbsp;<a href="http://www.snaplogic.com/resource-center/">Resource Center</a>.</p>
            <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px;">If you're not the instruction reading kind, use the credentials below to get started right away:<br>
            </p>
            <p><b style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:14px;">Username: admin</b><br />
              <b style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:14px;">Password: <%= @trial.trialpw %></b><br />
              <b style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:14px;">URL Location:</b><br />
              <%= @url %><br />
              <b style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:14px;">Email:</b> <%= @trial.customeremail %><br />
            </p>
            <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px;">If you run into any problems, please contact us at <a href="mailto:support@snaplogic.com">support@snaplogic.com</a></p>
            <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px;">Follow or hear about SnapLogic.</p>
            <a href="http://blog.snaplogic.com/"><img src="http://www.snaplogic.com/images/email/social-blog.png" alt="SnapLogic Blog" width="52" height="58" border="0"></a> <a href="http://www.facebook.com/pages/San-Mateo-CA/SnapLogic/134748787371"><img src="http://www.snaplogic.com/images/email/social-facebook.png" alt="SnapLogic Facebook" width="52" height="58" border="0"></a> <a href="https://twitter.com/snaplogic"><img src="http://www.snaplogic.com/images/email/social-twitter.png" alt="SnapLogic Twitter" width="52" height="58" border="0"></a> <a href="http://www.linkedin.com/groups?mostPopular=&gid=2470828"><img src="http://www.snaplogic.com/images/email/social-linkedin.png" alt="SnapLogic LinkedIn" width="52" height="58" border="0"></a><br>
            <br>
            <br>
            <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px;">A warm thank you from the entire SnapLogic team </p></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="125" width="100%" bgcolor="#5F5F5F" class="footerbg" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; background-color: #777; background-image: url(http://www.snaplogic.com/images/email/footerbg.png); background-repeat: repeat-x;">&copy; 2011 SnapLogic, Inc. All rights reserved.</td>
  </tr>
</table>
</body>
</html>
